# =========================
# Dependencies
# =========================
/vendor/

# =========================
# Composer
# =========================
composer.lock

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml

# =========================
# PHPUnit / Test artifacts
# =========================
.phpunit.result.cache
coverage/
coverage.xml

# =========================
.php-cs-fixer*
*.ignore.*